/* General styling */
.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
}

.panel-body {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: left;
    /* Override text-center for better readability */
    padding: 20px;
}

.form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    /* Light gray border color */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    background-color: #007bff;

    transition: background-color 0.3s ease-in-out;
}


/* Image styling */
.img-container {
    text-align: center;
}

.img-fluid {
    width: 100%;
    max-width: 400px;
    /* Adjust max-width as needed */
    height: auto;
    margin-bottom: 2rem;
}

/* Responsiveness for iPhone SE screens */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"] {
        font-size: 14px;
    }

    .btn {
        padding: 8px 15px;
        font-size: 14px;
    }
}