.header {
  box-shadow: 0 2px 10px #6a6969;
}

.header-content {
  margin-top: -40px;
  /* position: relative; */
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: bolder;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  /* gap: 0.1rem; */
}

.logo-icon {
  height: 110px;
  width: auto;
  object-fit: cover;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  display: none;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav-link {

  color: black;
  font-size: 1.125rem;
  font-weight: 600;
  transform: color 0.1s;
}

.nav-link:hover {
  color: red;
}

.contact-button {
  display: none;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: all 0.1s;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.contact-button:first-of-type {
  margin-right: 5px;
  /* Reduce the gap */
}

.contact-button:last-of-type {
  margin-left: 5px;
  /* Reduce the gap */
}

@media screen and (min-width: 768px) {
  .contact-button {
    display: block;
  }
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
  /* Adjust the gap between list items */
}

.contact-list li {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: block;
    /* Add styles for the hamburger menu icon */
  }

  .nav {
    z-index: 4;
    display: none;
    /* Hide the nav by default */
    flex-direction: column;
    position: absolute;
    top: 142px;
    /* Adjust the top position as needed */
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .nav.active {
    display: flex;
    /* Show the nav when active */
  }

  .nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav li {
    margin-bottom: 6px;
  }

  .nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    /* Add other styles for links */
  }
}

.contact-button:hover {
  background-color: #5254f8;
}

.menu-button {
  display: none;
  /* border: none; */
  /* border-radius:/ 0.375rem; */
  /* background-color: var(--background-color); */
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

.menu-icon {
  height: 1.7rem;
  width: 1.7rem;
  color: black;
}